*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
}
header nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    position: fixed;
    z-index: 1;
}
#pinterest-icon{
    width: 48px;
    height: 48px;
    padding: 4px;
}

#pinterest-icon:hover{
    background-color: #d1cdcd;
    border-radius: 150px;
}
.first-list{
    display:flex;
}
.first-list li{
    list-style: none;
    padding: 8px 12px;
}
.first-list a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}

#inicio{
    background-color: black;
    color: white;
    padding: 14px 12px;
    border-radius: 25px;
}

/**Barra de busqueda*/
.search{
    flex-grow: 1;
    height: 48px;
    background-color: #e9e9e9;
    border-radius: 30px;
}
.search:hover{
    background-color: #e1e1e1;

}
.search:focus-within{
    border: 3px solid #7fc1ff;
}
.barra{
    display: flex;
    align-items: center;
    height: 48px;
}
#lupa{
    padding: 13px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}
.barra input{
    border: none;
    background-color: inherit;
    outline: none;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    flex-grow: 1;
}
/**Iconos derecha*/
.right-items span{
    padding: 8px;
    color: #767676;
    font-size: 28px;
}
.right-items span:hover{
    background-color: #e9e9e9;
    border-radius: 150px;
    cursor:pointer;
}
/**Estilos main*/
.contenido{
    position: absolute;
    margin-top: 80px;
}
.imagenes{
    columns: 5 240px;
    margin: auto;
}
/**Estilos de imagenes*/
.card-image{
    position: relative;
    padding: 6px;
}
.card-image img{
    border-radius: 15px;
    min-width: 240px;
    max-width: 240px;
}
/**hover que afecta a los primeros objetos hijos dentro del contenedor card-image*/
.card-image:hover > :first-child{
    filter:brightness(60%);
}
/**hover para todos los objetos dentro del contenedor card-image*/
.card-image:hover > *{
    visibility: visible;
    display: inline;
}
/**propiedades del boton de guardar*/
.button{
    position: absolute;
    left: 58%;
    top: 5%;
    padding: 13px 15px;
    background-color: #e60023;
    border-radius: 30px;
    border: none;
    visibility: hidden;
}
.button:hover{
    filter:brightness(78%);
}
/**propiedad del enlace*/
.card-image button a{
    text-decoration: none;
    color: white;
    font-size:16px;
    font-weight: bold;
}
.oculto1{
    position: absolute;
    left: 58%;
    bottom: 8%;
    background-color: white;
    font-size: 30px;
    border-radius: 50px;
    color:black;
    font-weight: bold;
    padding: 4px;
    visibility: hidden;
    display: none;
}
.oculto1:hover{
    filter:brightness(80%);
}
.oculto2{
    position: absolute;
    left: 78%;
    bottom: 8%;
    background-color: white;
    font-size: 30px;
    border-radius: 50px;
    color:black;
    font-weight: bold;
    padding: 4px;
    visibility: hidden;
    display: none;
}
.oculto2:hover{
    filter:brightness(80%);
}